@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.01);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

:root {
  --brown: rgba(140, 11, 54, 1);
  --lightblue: rgba(75, 98, 168, 1);
  --lightgreen: rgba(96, 191, 52, 1);
  --voilet: rgba(86, 14, 105, 1);
  --sandal: rgba(240, 205, 86, 1);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

nav {
  height: 55px;
  width: 100%;
  display: flex;
  padding: 0 50px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

nav a {
  height: 60%;
}
nav .logo {
  height: 100%;
}
nav .nav-button {
  outline: none;
  padding: 5px 15px;
  background: var(--voilet);
  color: white;
  height: unset;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid var(--voilet);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.2s;
}

nav .nav-button:hover {
  color: var(--voilet);
  background: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

@media only screen and (max-width: 550px) {
  nav {
    padding: 0 15px;
  }
}
