.feedDetails__container {
  flex: 1;
  overflow: hidden auto;
  padding-top: 10px;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: flex-end;
}

.feedDetails__info {
  /* background-color: aqua; */
  flex: 2.3;
  min-width: 500px;
  padding: 15px 20px;
}
.feedDetails__confirmStatus {
  flex: 0.7;
  padding: 15px 20px;
  min-width: 250px;
}
.feedDetails__Wrapper .loader__container {
  height: unset;
}
.feedDetails__histroy__item {
  margin-bottom: 15px;
}
.feedDetails__histroy__time {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 3px;
}
.feedDetails__histroy__status {
  color: var(--lightgreen);
  font-weight: 600;
}
.feedDetails__histroy__adminName {
  font-weight: 600;
  color: var(--voilet);
}
.feedDetails__history__noData {
  text-align: center;
}

.feedDetails__history__noData img {
  width: 90%;
  height: 200px;
  object-fit: cover;
}
.feedDetails__Wrapper {
  padding: 30px 20px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.feedDetails__detailsWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.feedDetails__details__title {
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.feedDetails__details__desc {
  font-weight: 500;
  font-size: 1.1em;
  padding: 0 10px;
}

.feedDetails__details__more {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-self: center;
}
.feedDetails__details__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.feedDetails__details__tag {
  margin-right: 10px;
  background: var(--lightblue);
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 60px;
  margin-right: 10px;
  font-size: 0.85em;
}

.feedDetails__details__date span {
  color: #888888;
}

.feedDetails__details__desc {
  line-height: 1.6;
}
.feedDetails__details__image img {
  object-fit: contain;
  max-width: 100%;
  max-height: 800px;
  margin-bottom: 15px;
}

.feedDetails__details__image {
  cursor: zoom-in;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.feedDetails__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.feedDetails__header i:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
.feedDetails__detailsWrapper__header {
  display: flex;
}
.feedDetails__detailsWrapper__header__item {
  background-color: #f1cd57;
  padding: 3px 20px;
  color: #111;
  border-radius: 5px 5px 0 0;
  font-size: 0.85em;
}
.feedDetails__progress {
  width: 100%;
  height: 25px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: #eee;
}
.feedDetails__progress div {
  height: 100%;
  display: flex;
  background-color: #f1cd57;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.feedDetails__header i {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--lightblue);
  border-radius: 50%;
  margin-right: 10px;
}
.feedDetails__changeStatus {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.feedDetails__changeStatus select {
  flex: 2;
  padding: 10px;
  outline: none;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid var(--voilet);
  min-width: 180px;
  margin: 10px 10px;
}
.feedDetails__changeStatus div {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedDetails__details__desc p {
  padding: 5px 0;
}
.feedDetails__details__profile__item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
}
.feedDetails__details__profile__item img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.button {
  outline: none;
  padding: 5px 15px;
  background: var(--voilet);
  color: white;
  margin: 0 auto;
  text-decoration: none;
  border: 1px solid var(--voilet);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.2s;
}

.feedDetails__commentsWrapper {
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.feedDetails__comments__title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.feedDetails__comment__container {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto;
  column-gap: 10px;
  margin: 10px 0;
  animation-name: new_comment;
  animation-duration: 1s;
}
@keyframes new_comment {
  0% {
    background-color: rgba(255, 255, 0, 0.9);
  }
  100% {
    background-color: #fff;
  }
}

.feedDetails__comment__delete:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.feedDetails__comment__delete {
  align-self: center;
  text-align: center;
  cursor: pointer;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
}
.feedDetails__comment__image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.feedDetails__comment__details {
  display: flex;
  flex-direction: column;
}
.feedDetails__comment__details__name span {
  font-weight: 500;
  margin-left: 10px;
  font-size: 0.8em;
}
.feedDetails__comment__details__name {
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.feedDetails__comment__textarea {
  width: calc(100% - 120px);
}
.feedDetails__comment__input textarea {
  min-height: 50px;
  max-width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px;
  min-width: 100%;
  font-size: 1.05em;
  outline: none;
}
.feedDetails__comment__input {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.feedDetails__comment__button .button {
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 5px;
}
.feedDetails__comment__button span {
  font-size: 0.7em;
  text-align: center;
}
.feedDetails__comment__button {
  width: 60px;
  display: flex;
  flex-direction: column;
}

.feed__comments__loading .loader__container {
  height: 100px;
}
.feed__comments__loading .loader__container .ldio-v566hzdcgxp div {
  height: 20px;
  width: 20px;
}
@keyframes solved {
  0% {
    color: #ffffff;
    background: #60bf35;
    width: 0%;
    font-size: 0em;
  }
  100% {
    width: 100%;
    font-size: 1em;
    color: #ffffff;
    background: #60bf35;
  }
}

@keyframes opened {
  0% {
    width: 0%;
    font-size: 0em;
  }
  100% {
    width: 50%;
    font-size: 1em;
  }
}

@keyframes unsolved {
  0% {
    width: 0%;
    font-size: 0em;
  }
  100% {
    width: 30%;
    font-size: 0.8em;
  }
}

@keyframes rejected {
  0% {
    width: 0%;
    font-size: 0em;
    background: #e53935;
    color: white;
  }
  100% {
    width: 100%;
    font-size: 1em;
    background: #e53935;
    color: white;
  }
}

@keyframes partial {
  0% {
    width: 0%;
    font-size: 0em;
  }
  100% {
    width: 75%;
    font-size: 1em;
  }
}

@media only screen and (max-width: 720px) {
  .feedDetails__confirmStatus {
    flex: 1;
  }
}
@media only screen and (max-width: 600px) {
  .feedDetails__info {
    min-width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .feedDetails__details__more {
    justify-content: center;
  }
  .feedDetails__details__tags {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 400px) {
  .feedDetails__info {
    min-width: 200px;
  }
}
