.feed__container {
  flex: 1;
  overflow: hidden auto;
  padding-top: 10px;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: flex-end;
}
.feed__recentfeeds h3 {
  margin-bottom: 20px;
}
.feed__recentfeeds {
  /* background-color: aqua; */
  flex: 2.3;
  min-width: 500px;
  padding: 15px 20px;
}
.feed__feedsfilter {
  flex: 0.7;
  padding: 15px 20px;
  min-width: 250px;
}
.feed__recentList {
  display: flex;
  transition: 2s;
  flex-direction: column;
}
.feed__recentItem {
  height: 160px;
  width: 100%;
  color: inherit;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 15px;
  display: grid;
  grid-template-rows: 160px;
  cursor: pointer;
  grid-template-columns: auto;
}
.rejected {
  color: #ffffff;
  background: #e53935;
}
.rejected:hover {
  background: #d32f2f !important;
}
.solved {
  color: #ffffff;
  background: #60bf35;
}
.solved:hover {
  background: #10bf35 !important;
}
.has_image {
  grid-template-columns: 75% 25%;
}

.feed__recentItem:hover {
  background-color: rgba(0, 0, 0, 0.001);
}

.feed__recentItem__image img {
  object-fit: cover;
  display: block;
  height: 100%;
  background-color: #eee;
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.feed__recentItem__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
}

.feed__recentItem__details__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rejected .feed__recentItem__details__time span {
  color: #ddd;
  font-size: 0.8em;
}
.solved .feed__recentItem__details__time span {
  color: #ddd;
  font-size: 0.8em;
}

.feed__recentItem__details__time span {
  color: #888888;
  font-size: 0.8em;
}
.feed__recentItem__details__tags {
  display: flex;
  align-items: center;
}
.feed__recentItem__details__more__tag {
  background: var(--lightblue);
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 60px;
  margin-right: 10px;
  font-size: 0.85em;
}
.feed__recentItem__details__title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 30%;
  width: 80%;
  white-space: nowrap;
}
.feed__feedsWrapper {
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 20px;
}
.feed__recentItem__details__profile {
  display: flex;
  align-items: center;
}
.feed__recentItem__details__profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.feed__feedsWrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.feed__feedsWrapper li {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.feed__feedsWrapper label {
  margin: 0 10px;
}

.feed__recentItem__details__level {
  display: grid;
  width: 100%;
  grid-template-columns: 100px auto;
  height: 20px;
  align-items: center;
}

.feed__recentItem__details__id {
  font-size: 0.75em;
}
.feed__recentItem__details__status {
  border-radius: 30px;
  background-color: #eee;
  text-align: center;
  margin: 0 15px;
  font-size: 0.6em;
  height: 100%;
}
.feed__recentItem__details__status__progress {
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1cd57;
  border-radius: 30px;
  height: 100%;
}
.noData__container span {
  font-weight: 600;
  display: block;
}
.noData__container img {
  height: 50%;
}
.noData__container {
  height: calc(100vh - 55px);
  width: 100%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 720px) {
  .feed__feedsfilter {
    flex: 1;
  }
  .feed__feedsWrapper ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .feed__recentfeeds {
    min-width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .feed__recentItem__details__status__progress {
    width: 100% !important;
  }
  .feed__recentItem__details__more {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .feed__recentItem__details__status {
    width: 70px;
  }
  .feed__recentItem__details__title {
    max-width: 70%;
  }
}
@media only screen and (max-width: 400px) {
  .feed__recentfeeds {
    min-width: 200px;
  }
  .feed__recentItem__details__time {
    min-width: 120px;
  }
  .feed__recentItem__details__more__tag {
    font-size: 0.6em;
  }
}
