.loader__container {
  height: calc(100vh - 55px);
  width: 100%;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-v566hzdcgxp {
  0% {
    transform: translate(12px, 80px) scale(0);
  }
  25% {
    transform: translate(12px, 80px) scale(0);
  }
  50% {
    transform: translate(12px, 80px) scale(1);
  }
  75% {
    transform: translate(80px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(1);
  }
}
@keyframes ldio-v566hzdcgxp-r {
  0% {
    transform: translate(148px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(0);
  }
}
@keyframes ldio-v566hzdcgxp-c {
  0% {
    background: #d7689d;
  }
  25% {
    background: #66b5ae;
  }
  50% {
    background: #a0c443;
  }
  75% {
    background: #f3d337;
  }
  100% {
    background: #d7689d;
  }
}
.ldio-v566hzdcgxp div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px, 80px) scale(1);
  background: #d7689d;
  animation: ldio-v566hzdcgxp 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-v566hzdcgxp div:nth-child(1) {
  background: #f3d337;
  transform: translate(148px, 80px) scale(1);
  animation: ldio-v566hzdcgxp-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-v566hzdcgxp-c 1s infinite step-start;
}
.ldio-v566hzdcgxp div:nth-child(2) {
  animation-delay: -0.25s;
  background: #d7689d;
}
.ldio-v566hzdcgxp div:nth-child(3) {
  animation-delay: -0.5s;
  background: #f3d337;
}
.ldio-v566hzdcgxp div:nth-child(4) {
  animation-delay: -0.75s;
  background: #a0c443;
}
.ldio-v566hzdcgxp div:nth-child(5) {
  animation-delay: -1s;
  background: #66b5ae;
}
.loadingio-spinner-ellipsis-7zuhguoj49i {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-v566hzdcgxp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-v566hzdcgxp div {
  box-sizing: content-box;
}
